<header>
  <div class="logo"><a href="/" class="account-link">CSE Motors</a></div>
  <% if (loggedin) { %>
  <a href="/account/" class="account-link"
    >Welcome <%= accountData.account_firstname %></a
  >
  <a href="/account/logout" class="account-link">Logout</a>
  <% } else { %>
  <a href="/account/login" class="account-link">My Account</a>
  <% } %>
</header>
